
           {% extends 'base.html' %}

           {% block content %}

           <form method="POST">
              {% csrf_token %}
                <input class="form-control mx-auto w-50" type="text" name="city" id="city" placeholder="Enter city Name ....">
                <input type="submit" class="btn btn-danger btn-lg my-3" value="Submit">
            </form>
          </div>
           {% if results %}
          <table class="table w-50 mx-auto mt-5">
              <thead>
                  <tr>
                      <th colspan="2" class="text-center h3">Weather of {{results.City_Name}}</th>
    
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row">City Name</th>
                      <td>{{results.City_Name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Country Name</th>
                    <td>{{results.Country}}</td>
                </tr>

                <tr>
                    <th scope="row">Weather </th>
                    <td>{{results.Weather}}</td>
                </tr>
                <tr>
                    <th scope="row">Temperature</th>
                    <td>{{results.Tem}} °C </td>
                </tr>
                <tr>
                    <th scope="row">Humidity </th>
                    <td>{{results.Humidity}} % </td>
                </tr>
                <tr>
                    <th scope="row">Sunrise </th>
                    <td>{{results.Sunrise}} </td>
                </tr>
                <tr>
                    <th scope="row">Sunset </th>
                    <td>{{results.Sunset}}</td>
                </tr>
              </tbody>
          </table>
           {% endif %}

           {% endblock%}